@model OnlineStore.Web.Models.DTOs.HomeDto
@{
    ViewData["Title"] = "Home Page";
}
<!-- Home -->

    <div class="home">
        <div class="home_slider_container">

            <!-- Home Slider -->
            <div class="owl-carousel owl-theme home_slider">
                @if (Model.FrontImages != null)
                {
                    @foreach (var entry in Model.FrontImages)
                    {
                        <!-- Slider Item -->
                        <div class="owl-item home_slider_item">
                            <div class="home_slider_background" style=@($"background-image:url({entry.BackgroundImageUrl})")></div>
                            <div class="home_slider_content_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                                <div class="home_slider_title">@(entry.Title)</div>
                                                <div class="home_slider_subtitle">@(entry.Text)</div>
                                                @*<div class="button button_light home_button"><a href="">Shop Now</a></div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <!-- Home Slider Dots -->

            <div class="home_slider_dots_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_slider_dots" style="background-color: rgba(0, 0, 0, 0.3);border-radius: 25px;")>
                                <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                                    <li class="home_slider_custom_dot active">01.</li>
                                    @if (Model.FrontImages != null)
                                    {
                                        @for (int i = 1; i < Model.FrontImages.Count();i++)
                                        {

                                            <li class="home_slider_custom_dot">0@(i+1).</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Ads -->

    <div class="avds">
        <div class="avds_container d-flex flex-lg-row flex-column align-items-start justify-content-between">
            <div class="avds_small">
                <div class="avds_background" style=@($"background-image:url({Model.DiscountImage.ImageUrl})")></div>
                <div class="avds_small_inner">
                    <div class="avds_discount_container">
                        <img src="images/discount.png" alt="">
                        <div>
                            <div class="avds_discount">
                                <div>@(Model.DiscountImage.DiscountAmount)<span>%</span></div>
                                <div>Discount</div>
                            </div>
                        </div>
                    </div>
                    <div class="avds_small_content">
                        <div class="avds_title">@(Model.DiscountImage.CategoryName)</div>
                        <div class="avds_link"><a href=@(Model.DiscountImage.Url)>See More</a></div>
                    </div>
                </div>
            </div>
            <div class="avds_large">
                <div class="avds_background" style=@($"background-image:url({Model.FrontImage.BackgroundImageUrl})")></div>
                <div class="avds_large_container">
                    <div class="avds_large_content">
                        <div class="avds_title">@(Model.FrontImage.Title)</div>
                        <div class="avds_text">@(Model.FrontImage.Text)</div>
                        <div class="avds_link avds_link_large">@*<a href="@(Model.FrontImage">See More</a></div>
                    *@</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products -->

    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="product_grid">
                        @if (Model.Products != null)
                        {
                            @foreach (var entry in Model.Products)
                            {
                                <!-- Product -->
                                <div class="product">
                                    <div class="product_image"><img src=@(entry.ImageUrl) alt=@(entry.Name) width="263" height="263"></div>
                                    <div class="product_extra product_new"><a href="CATEGORYORSTATUS">New</a></div>
                                    <div class="product_content">
                                        <div class="product_title"><a href=@(entry.Url)>@(entry.Name)</a></div>
                                        <div class="product_price">$@(entry.DiscountedPrice)</div>
                                        <div class="details_discount"><strike style="color:red">$@(entry.OriginalPrice)</strike></div>
                                    </div>
                                </div>
                            }
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Ad -->

    <div class="avds_xl">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="avds_xl_container clearfix">
                        <div class="avds_xl_background" style="background-image:url(https://cdn.motor1.com/images/mgl/6JpJr/s1/vw-suv-coupe-concept-lead-image.jpg)"></div>
                        <div class="avds_xl_content">
                            <div class="avds_title">Amazing Vehicles</div>
                            <div class="avds_text">Everything We Do is Driven By You.</div>
                            <div class="avds_link avds_xl_link"><a href="category/Luxury">See More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/custom.js"></script></div>
