@model OnlineStore.Web.Models.DTOs.CheckoutDto


<head>
    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
    <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/styles/checkout.css">
    <link rel="stylesheet" type="text/css" href="~/styles/checkout_responsive.css">
</head>

<div class="home">
    <div class="home_container">
        <div class="home_background" style="background-image:url(images/cart.jpg)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="cart.html">Shopping Cart</a></li>
                                    <li>Checkout</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="checkout">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="billing checkout_section">
                    <div class="section_title">Billing Address</div>
                    <div class="section_subtitle">Enter your address info</div>
                    <div class="checkout_form_container">
                        <form asp-action="Index">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AddressDetail" class="control-label"></label>
                                <textarea asp-for="AddressDetail" rows="2" class="form-control"></textarea>
                                <span asp-validation-for="AddressDetail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ZipCode" class="control-label"></label>
                                <input asp-for="ZipCode" class="form-control" />
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Province" class="control-label"></label>
                                <input asp-for="Province" class="form-control" />
                                <span asp-validation-for="Province" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label"></label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(x => x.IsAgreeTermsAndConditions, new { @class = "form-check-input" })
                                @Html.LabelFor(x => x.IsAgreeTermsAndConditions, new { @class = "form-check-label" })
                                <span asp-validation-for="IsAgreeTermsAndConditions" class="text-danger"></span>
                            </div>
                              <div class="form-group form-check">
                                @Html.CheckBoxFor(x => x.IsRememberAddress, new { @class = "form-check-input" })
                                @Html.LabelFor(x => x.IsRememberAddress, new { @class = "form-check-label" })
                                <span asp-validation-for="IsRememberAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Proceed" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="order checkout_section">
                    <div class="section_title">Your order</div>
                    <div class="section_subtitle">Order details</div>

                    <!-- Order details -->
                    <div class="order_list_container">
                        <div class="order_list_bar d-flex flex-row align-items-center justify-content-start">
                            <div class="order_list_title">Product</div>
                            <div class="order_list_value ml-auto">Total</div>
                        </div>
                        <ul class="order_list">
                            @foreach (var product in Model.CheckoutItems)
                            {
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="order_list_title" style="text-decoration: underline; color: brown"><i>@(product.ProductName)</i></div>
                                    <div class="order_list_value ml-auto" style="color: brown"><i>$@(product.Price)</i></div>
                                </li>
                            }
                            @{
                                var subtotal = Model.CheckoutItems.Select(x => x.Price).Aggregate((x, y) => x + y);
                            }
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div class="order_list_title">Subtotal</div>
                                <div class="order_list_value ml-auto">$@(subtotal)</div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div class="order_list_title">Shipping</div>
                                <div class="order_list_value ml-auto">@(((int)Model.Shipping) == 0 ? "Free" : $"${Model.Shipping}")</div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div class="order_list_title">Total</div>
                                <div class="order_list_value ml-auto">$@(Model.Shipping + subtotal)</div>
                            </li>
                        </ul>
                    </div>
                    <!-- Order Text -->
                    <div class="order_text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra temp or so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te mpus. Ut consectetur lacus.</div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/jquery-3.2.1.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/checkout.js"></script>
    
    <script>
        // extend range validator method to treat checkboxes differently
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function(value, element, param) {
            if(element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>

}
