@model OnlineStore.Web.Models.DTOs.ProductDto
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="styles/product.css">
    <link rel="stylesheet" type="text/css" href="styles/product_responsive.css">
</head>


<div class="home">
    <div class="home_container">
        <div class="home_background" style=@($"background-image:url({Model.Header.BackgroundImageUrl})")></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_title">@(Model.Header.Title)<span>.</span></div>
                            <div class="home_text"><p>@(Model.Header.Text)</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product Details -->

<div class="product_details">
    <div class="container">
        <div class="row details_row">

            <!-- Product Image -->
            <div class="col-lg-6">
                <div class="details_image">
                    @if(Model.ImageUrls != null)
                    {
                        
                        var imageUrls = Model.ImageUrls.ToList();
                         
                        <div class="details_image_large"><img src="@(imageUrls[0])" alt="" width="555" height="555"><div class="product_extra product_new"><a href="categories/">New</a></div></div>
                        <div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-between">
                            <div class="details_image_thumbnail active" data-image="@(imageUrls[0])"><img src="@(imageUrls[0])" alt="" width="126" height="126"></div>
                            @for (int i = 1; i < Model.ImageUrls.Count(); i++)
                            {
                                <div class="details_image_thumbnail" data-image="@(imageUrls[i])"><img src="@(imageUrls[i])" alt="" width="126" height="126"></div>
                            }
                        </div>
                    }
                </div>
            </div>

            <!-- Product Content -->
            <div class="col-lg-6">
                <div class="details_content">
                    <div class="details_name">@(Model.Name)</div>
                    <div class="details_discount">$@(Model.OriginalPrice)</div>
                    <div class="details_price">$@(Model.DiscountedPrice)</div>

                    <!-- In Stock -->
                    <div class="in_stock_container">
                        <div class="availability">Availability:</div>
                        <span>@(Model.Availability)</span>
                    </div>
                    <div class="details_text">
                        <p>@(Model.Description)</p>
                    </div>

                    <!-- Product Quantity -->
                    <div class="product_quantity_container">
                        <div class="product_quantity clearfix">
                            <span>Qty</span>
                            <input id="quantity_input" type="text" pattern="[0-9]*" value="1">
                            <div class="quantity_buttons">
                                <div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
                                <div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                            </div>
                        </div>

                        <div class="button cart_button"><a  id="add_to_cart_btn" href="#">Add to cart</a></div>
                        <!--
                        <div class="button cart_button">
                            <a asp-controller="Cart" asp-action="Buy"
                               asp-route-id="@(Model.ProductId) ">Add to cart</a>
                        </div>
                        -->
                        <!-- Share -->
                        <div class="details_share">
                            <span>Share:</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row description_row">
                <div class="col">
                    <div class="description_title_container">
                        <div class="description_title">Description</div>
                        <div class="reviews_title"><a href="#">Reviews <span>(1)</span></a></div>
                    </div>
                    <div class="description_text">
                        <p>@(Model.DescriptionExtra)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products -->

    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="products_title">Related Products</div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="product_grid">
                        @if (Model.RelatedProducts != null)
                        {
                            @foreach (var entry in Model.RelatedProducts)
                            {
                                <div class="product">
                                    <div class="product_image"><img src="@(entry.ImageUrl)" alt=@(entry.Name) width="263" height="263"></div>
                                    @if (!string.IsNullOrEmpty(entry.StatusClass))
                                    {
                                        <div class="product_extra product_new"><a href="categories.html">@(entry.StatusClass)</a></div>
                                    }
                                    <div class="product_content">
                                        <div class="product_title"><a href="@(entry.Url)">@(entry.Name)</a></div>
                                        <div class="product_price">@(entry.Price)</div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function updateCart() {
        const element = document.getElementById("cart");
        const qtyInput = document.getElementById("quantity_input");

        let count = parseInt(element.innerHTML.split("(")[1].split(")")[0]) + parseInt(qtyInput.value);
        element.innerHTML = "(" + count + ")";

        qtyInput.value = "1";
    }

    document.getElementById('add_to_cart_btn').addEventListener('click',
        function() {
            const request = new XMLHttpRequest();
            request.open('POST', `../cart/buy?id=${@(Model.ProductId.ToString())}` + "&quantity=" + 
                parseInt(document.getElementById("quantity_input").value), true);
            request.send();

            request.onload = function() {
                if (request.status === 200) {
                    updateCart();
                } else {
                    console.log("add to cart request was unsuccessful");
                }
            }
        } );
</script>


@section Scripts
{
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/greensock/TweenMax.min.js"></script>
    <script src="plugins/greensock/TimelineMax.min.js"></script>
    <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="plugins/greensock/animation.gsap.min.js"></script>
    <script src="plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="js/product.js"></script>
}
